a 
  { 
  text-decoration: none; 
  color: #b48353;
  }

body
  {
  color:black; 
  background: #fefae0;
  font: %%base_font_size%%px Dialog; 
  margin-left: 40px; 
  margin-right: 40px; 
  margin-bottom: 10px; 
  margin-top: 20px 
  }

blockquote
  {
  background: #faedcd; 
  font-weight: bold; 
  padding: 16px; 
  margin: 0;
  }

code 
  {
  color:black; 
  font: %%base_font_size%%px monospace
  }

h1 
  {
  color: black; 
  background: #fefae0;
  padding-top: 6px;
  padding-bottom: 6px;
  margin-left: 0;
  font: %%h1_font_size%%px sans-serif; 
  font-weight: 600;
  }

h2 
  { 
  color: black; 
  background: #fefae0;
  font: %%h2_font_size%%px sans-serif; 
  font-weight: 400;
  padding-top: 12px;
  }

h3  
  {
  color: black; 
  background: #fefae0;
  background: white;
  font: %%h3_font_size%%px sans-serif; 
  padding-top: 10px;
  }

p
  {
  color: black;
  margin-bottom: 8px;
  margin-top: 0px;
  }

pre 
  {
  color:black; 
  background: #fefae0;
  font: %%base_font_size%%px monospace;
  padding: 16px; 
  margin: 0;
  }

ul 
  {
  margin: 0;
  padding: 16px;
  }

